*{
	margin:0px;
        padding:0px;
        box-sizing: border-box;
}

body {  
        width: 90%; 
        margin : auto;
}

h1, h3 {
        text-align: center;
        margin: 20px 0px;
}

.form-control {
        display: inline-block;
        width: auto; 
        min-width: 60%;
}

#CreateUpdateDiv {
        margin: 0 auto;
}

#MoviesTable {
        height: 600px;
        overflow-y: auto;
        width: 90%;
}

#movieTitle {
        margin-top: 20px;
        width: 90%;
}

#frmCU label.error {
        background:url("../images/error.gif") no-repeat  left top;
        padding-left: 14px;
        font-weight: bold;
        color: #EA5200;
}

.validation_errors {
        width: 0px;
        border-width: 0cm    
}
            
